.bg {background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(../assets/img/bg1.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
}

.defaultfont {
    font-style: normal;
    color: ivory;
    font-weight: normal;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.linkfont {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: ivory;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.header {
    top: 5px;
    right: 5px;
    left: 5px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(59, 82, 59, 0.75);

}

.subheader {
    top: 114px;
    left: 15px;
    right: 15px;
    bottom: 39px;
    padding-top: 100px;
    z-index: 1;
}

.main {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
    align-items: center;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
}
.images {
    padding: 10px;
}

.fancy {
    font-style: italic;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: medium;
    color: ivory;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: ivory;
}